


body {
    background-color: grey;
} 

h1{

    color: black;

}

div {
    background-color: brown;
    color: blueviolet;
    border-style: solid;
}
h3 {color:black;

}

h4 {
    color: pink;
}


#large-paragraph {
    font-size: 35px;
}

.every-second li:nth-child(2n){
    color: gold;
}
